div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    color: rgb(112, 172, 255);
    justify-content: space-around;
    

}